<!DOCTYPE html>
<html>
<head>
    <title>CampusPrint</title>
    <style>
        body { font-family: Arial; text-align: center; padding: 50px; }
        h1   { color: #185FA5; }
        p    { color: gray; }
        a    { background: #185FA5; color: white;
               padding: 12px 24px; text-decoration: none;
               border-radius: 8px; }
    </style>
</head>
<body>
    <h1>Welcome to CampusPrint!</h1>
    <p>Upload your file, pay online, collect your printout</p>
    <br><br>
    <a href="/upload">Print Now</a>
</body>
</html>